@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Instrument Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.font-serif {
  font-family: 'Instrument Serif', serif;
}

.font-sans {
  font-family: 'Instrument Sans', sans-serif;
}
